<%- include('./_partials/head.ejs') %>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/404.css">
</head>
<body>
  <div class="container">
    <div class="content">
      <div class="big-word">
        <span class="big-word__text">4</span>
        <span class="big-word__text">0</span>
        <span class="big-word__text">4</span>
      </div>
      <div class="sub-word">
        <p>Whoops, you've been lost!</p>

        <a href="/">Let's go back</a>
      </div>
    </div>
  </div>  
<%- include('./_partials/end.ejs') %>