<%- include('./_partials/head.ejs') %>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/home.css">
</head>
<body>
  <div class="container">
    <main class="content">
      <header class="content__heading">
        <h1>Hi<span>late</span></h1>
        <sub>Simple lightweight node app for starting a development</sub>
      </header>
      <div class="content__body">
        <h4>Star & contrib this repo</h4>
        <button onclick="window.open('https://github.com/hikimo/HiLatte', '_blank')">To github repo</button>
      </div>
    </main>
  </div>  
<%- include('./_partials/end.ejs') %>